@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

%modal{
    background-color: #fff;
    border-radius: $rounded-md;
    padding: .75em;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 105;
}

.modal--states{
    .modal--warning{
        & > .modal--header{
            display: flex;
            @include prefixes(justify-content,space-between);
            @include prefixes(align-items,center);

             & > div {
                .modal--span-icon{
                    padding: .75em;
                    border-radius: 50%;
                    background-color: $red-400;
                    position: relative;

                        &::after{
                            width: 100%;
                            height: 100%;
                            content: '';
                            top: 0;
                            left: 0;
                            position: absolute;
                            z-index: -1;
                            background-color: $red-400;
                            opacity: 0.5;

                        }
                }
             }
        }
    }

}